<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../style.css" />
    <link rel="stylesheet" href="overall.css" />
    <title>CH++</title>
  </head>
  <body>
    <h1 style="font-size: 4rem">Chemkriti 2022</h1>
    <div class="outer">
      <ul class="SG">
        <h1>CH++</h1>
        <li class="sgLi">
          <div class="box">
            <h3>Full Date and Time</h3>
            <ol class="s">
              <li>
                In the words of Steve Jobs, "Everybody should learn how to
                program a computer because it teaches you how to think.” Coding
                ain't just about different computer languages, it's about
                creativity analysis and logic-based approach to problems. It's
                as much a mental sport as it is a part of academia. ChESS of NIT
                Durgapur presents before you the ultimate coding challenge,
                CH++. Participants will be mailed a problem statement and will
                be required to come up with a suitable solution within a couple
                of hours and upload the same in Google Drive or MSTeams. Time to
                code your way to solutions
              </li>
            </ol>
          </div>
        </li>
      </ul>
    </div>
  </body>
</html>
