<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../style.css" />
    <link rel="stylesheet" href="overall.css" />
    <title>Chem-e-curious</title>
  </head>
  <body>
    <h1 style="font-size: 4rem">Chemkriti 2022</h1>
    <div class="outer">
      <ul class="SG">
        <h1>Chem-e-curious</h1>
        <li class="sgLi">
          <div class="box">
            <h3>Full Date and Time</h3>
            <ol class="s">
              <li>
                "Where knowledge wins and everyone learns" This is a chance for
                all inquizzitive chemical engineers to display their prowess.
                And then, enthusiastic quizzards are also welcome to make the
                best use of their storehouse of knowledge. This is going to be a
                quiz, with questions pertaining to every possible allied
                subjects of chemical engineering. Talk about industries,
                businesses, innovations, researches, to personalities, covering
                all general topics that might find the farthest link to the
                subject of chemical engineering. We can guarantee that no one
                will return empty handed, because participants will end up
                stacked with knowledge, if not points
              </li>
            </ol>
          </div>
        </li>
      </ul>
    </div>
  </body>
</html>
