<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../style.css" />
    <link rel="stylesheet" href="overall.css" />
    <title>ChemX</title>
  </head>
  <body>
    <h1 style="font-size: 4rem">Chemkriti 2022</h1>
    <div class="outer">
      <ul class="SG">
        <h1>ChemX Challange</h1>
        <li class="sgLi">
          <div class="box">
            <h3>Full Date and Time</h3>
            <ol class="s">
              <li>
                "Comprehend it quick, think it quick" It is not that we are
                unfamiliar we the game of crosswords. Now, it is time to bring
                back that childhood self of yours, who used to leave everything
                aside and go ahead to solve that crossword in the newspaper
                supplement. Now, it is the time to do so as a student of
                chemical engineering. Prepare yourself to solve something
                similar, by making the best use of your skills. It is after all
                a form of puzzle, all about fitting the right piece into the
                right place. Get ready for this enthralling experience.
              </li>
            </ol>
          </div>
        </li>
      </ul>
    </div>
  </body>
</html>
