<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../style.css" />
    <link rel="stylesheet" href="overall.css" />
    <title>Chemoclave</title>
  </head>
  <body>
    <h1 style="font-size: 4rem">Chemkriti 2022</h1>
    <div class="outer">
      <ul class="SG">
        <h1>Chemoclave</h1>
        <li class="sgLi">
          <div class="box">
            <h3>Full Date and Time</h3>
            <ol class="s">
              <li>
                For those curious to know about every circumstance that goes
                about in the process industry, for those eager to know more
                about the present and future of the sector that they are most
                interested to build their career on, opportunities await you,
                and it is about taking the right step with proper guidance.
                Chemkriti is here to bring to you real – life experiences that
                notable alumni from our institution have had, as they have gone
                on to work in industries, valuable opinion of veterans regarding
                various issues which arouse interest among this generation, and
                of course, interesting lectures on topics which you would not
                like to miss. And this time, we are going to have guests from
                various other domains as well. So, be ready to interact with
                them, know more from them, learn from them and plan your future
                accordingly. Here is the chance, to hear it, from those who did
                it.
              </li>
            </ol>
          </div>
        </li>
      </ul>
    </div>
  </body>
</html>
