<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../style.css" />
    <link rel="stylesheet" href="overall.css" />
    <title>Chem-e-meme</title>
  </head>
  <body>
    <h1 style="font-size: 4rem">Chemkriti 2022</h1>
    <div class="outer">
      <ul class="SG">
        <h1>Chem-e-meme</h1>
        <li class="sgLi">
          <div class="box">
            <h3>Full Date and Time</h3>
            <ol class="s">
              <li>
                "Bring out the humour, everything else can wait" After too many
                technical and academic events, we do need something different,
                and Chem-E-Meme is the best event to make that difference. We
                are here to give the creative minds in you a brainstorming and
                fun experience. Venture down the deepest thoughts to get your
                hands on the creative side of yours with our event, Chem-E-meme
                which is solely based on the domain of chemical engineering.
              </li>
            </ol>
          </div>
        </li>
      </ul>
    </div>
  </body>
</html>
