<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../style.css" />
    <link rel="stylesheet" href="overall.css" />
    <title>Chemovate</title>
  </head>
  <body>
    <h1 style="font-size: 4rem">Chemkriti 2022</h1>
    <div class="outer">
      <ul class="SG">
        <h1>Chemovate</h1>
        <li class="sgLi">
          <div class="box">
            <h3>Full Date and Time</h3>
            <ol class="s">
              <li>
                Every sphere of science and technology is advancing day by day,
                and chemical engineers are no exception. Various advancements
                have been brought in by putting innovation to its best use, in
                different aspects, ranging from design to simulation, to make
                computation simpler and easier. Chemkriti brings forward an
                opportunity for you to be in pace with such developments,
                through a workshop, to help you acquire skills which would prove
                beneficial in the long run, ahead in your career. So, don’t
                hesitate to Continue the process of learning.
              </li>
            </ol>
          </div>
        </li>
      </ul>
    </div>
  </body>
</html>
