<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../style.css" />
    <link rel="stylesheet" href="overall.css" />
    <title>Chemstat</title>
  </head>
  <body>
    <h1 style="font-size: 4rem">Chemkriti 2022</h1>
    <div class="outer">
      <ul class="SG">
        <h1>Chemstat</h1>
        <li class="sgLi">
          <div class="box">
            <h3>Full Date and Time</h3>
            <ol class="s">
              <li>
                Show your technical and analytical prowess Faced with a problem
                statement and a real-life scenario participants would have to
                storm their minds to come up with a seemingly feasible solution,
                which, mind you, should sound just as innovative and effective.
                A 48-hour duration would be allotted to execute and compile
                their ideas into a PowerPoint presentation and submit the same,
                the quality of which would serve as their gateway to the final
                round. The ones who'll make it would have to present their plan
                in front of the judges and face the questionnaire.
              </li>
            </ol>
          </div>
        </li>
      </ul>
    </div>
  </body>
</html>
